
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App {

  font-weight: bold;
  justify-content: center;

}
/* .App h1{
  padding: 0px;
  display: inline;
  
}  */

/* .renderBox{
  
  margin: 0;
  padding: 0;
  width: 600px;
  height: 600px;
  /* float: right; */
  /* position: relative;
  left: 350px;
  border: solid 3px #000000;
} */ 

/* .box {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 500px;
  position: relative;
  bottom: 600px;
  left: 5px;
  border: solid 3px #000000;
  
} */

.mainFrame{
  width: 100%;
  justify-content: center;
}

.memo {
  width: 80%;
  
  display: block;
  margin: 0 auto;
  font-size: 16px;
} 

.markdown {
  width: 80%;
  
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border: solid 3px black;
  
}

.title_box{
  width: 100%;
  justify-content: center;
}

.title_ber{
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 38px;
}

.Listbox {

  width:100%;
  justify-content: center;
} 

.memolist{
  border: solid 3px 
  black;
  width: 80%;
  display: block;
  margin: 0 auto;
}


.list_btn{
  display: flex;
  
}

.tfbtn{
  
  display: block;
  margin: 0 auto;
  
}


