/* body {
  margin: 0;
  
  position: relative;
  justify-content: center;
} */

a {
  position: absolute;
  bottom: 0;
}

/* .reset_box{
  background-color: #2eb883;
} */
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
  width: 1000px;
  height: 700px;
}
.App h1{
  padding: 0px;
  display: inline;
  
} */

/* .renderBox{
  
  margin: 0;
  padding: 0;
  width: 600px;
  height: 600px;
  /* float: right; */
  /* position: relative;
  left: 350px;
  border: solid 3px #000000;
} */ 

/* .box {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 500px;
  position: relative;
  bottom: 600px;
  left: 5px;
  border: solid 3px #000000;
  
} */

.mainFrame{
  width: 100%;
  justify-content: center;
}

.memo {
  width: 80%;
  
  display: block;
  margin: 0 auto;
  font-size: 16px;
} 

.title_box{
  width: 100%;
  justify-content: center;
}

.title_ber{
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 38px;
}

.Listbox {

  width:100%;
  justify-content: center;
} 

.memolist{
  border: solid 3px 
  blue;
  background: #2eb883;
  width: 80%;
  display: block;
  margin: 0 auto;
}


.list_btn{
  display: flex;
  
}


